# Ignore large OSM file
src/main/resources/graphhopper/texas-latest.osm.pbf

# Ignore GraphHopper graph cache (generated)
src/main/resources/graphhopper/graph-cache/

# Ignore Maven build output
target/

# Ignore IDE files
.idea/
*.iml

# Ignore local environment files
.env

src/main/resources/static/JSON/